<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- Tags NFC del registro rápido (spec 006 §5). Opcional: la app se
         instala en teléfonos sin NFC. -->
    <uses-permission android:name="android.permission.NFC"/>
    <uses-feature android:name="android.hardware.nfc" android:required="false"/>
    <!-- Recordatorios de gastos fijos por FCM (spec 011 §5): en Android 13+
         se pide en contexto al guardar el primer gasto fijo. -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <application
        android:label="luka"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <!-- Tag NFC escrito por luka: abre el registro rápido aunque
                 la app esté cerrada (AC-4.1). -->
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="luka" android:host="quick-add"/>
            </intent-filter>
            <!-- El mismo enlace desde cualquier otra fuente. -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="luka" android:host="quick-add"/>
            </intent-filter>
            <!-- go_router recibe el enlace como ruta (deep link de Flutter). -->
            <meta-data android:name="flutter_deeplinking_enabled" android:value="true"/>
        </activity>
        <!-- Listener de notificaciones bancarias (spec 006 §3.2). Solo el
             sistema puede enlazarlo, y solo tras el permiso del usuario en
             Ajustes > Acceso a notificaciones. -->
        <service
            android:name=".capture.LukaNotificationListener"
            android:exported="false"
            android:label="luka"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService"/>
            </intent-filter>
        </service>
        <!-- Canal, icono y color por defecto de los avisos de FCM (spec 008 §4.3).
             El canal lo crea MainActivity al arrancar. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="recordatorios_pagos" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_stat_luka" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/launch_background" />
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>
